@media screen and (min-width: 600px) and (orientation: landscape) {
    #container {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 20px repeat(6, 100px) 20px;
        
    }

}


#container {
    display: grid;
    background: rgb(143, 210, 210);
    grid-template-rows: 20px repeat(6, auto) 20px;
    border: 1px solid black;
}
#avatar {
    justify-self: center;
}
section {
    border: solid 1px black;
}

.heading {
    color: white;
    background: rgb(77, 155, 155);
    margin: 0;
}

li {
    /* height: 50px; */
    list-style: none;
}

header footer {
    background: grey;


}
#bio {
    
}