 @media screen and (min-width: 600px) and (orientation: landscape) {

 }


#container {
    display: grid;
    background: rgb(184, 192, 192);
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
    "nb nb nb nb"
    "av av av av"
    "ct ct ct ct"
    "ed ed ed ed"
    "ex ex ex ex"
    "cp cp cp cp"
    "bi bi bi bi"
    "ft ft ft ft";
    border: 1px solid black;
}

#navbar {
    display:grid;
    grid-template-columns: repeat(5, auto);
    grid-template-areas: 
    "ni ni ni ni ni";
    justify-self: stretch;
    border: 1px solid black;
    align-items: center;  
    grid-area: nb;
    background: rgb(77, 155, 155);
}

.navicon {
    grid-area: ni;
    justify-content: space-evely; 
}

#avatar {
    justify-self: center;
    padding: 10px;
    border: none;
    grid-area: av;
}
#contact {
    grid-area: ct;
}

#edu {
    grid-area: ed;
}

#exp {
    grid-area: ex;
}

#comp {
    grid-area: cp;
}

section {
    border: solid 1px black;
    text-align: center;
}

.heading {
    color: white;
    background: rgb(77, 155, 155);
    margin: 0;
}

li {
    /* height: 50px; */
    list-style: none;
}

header footer {
    background: grey;
    justify-self: center;
    justify-content: space-evenly;  


}


#contact {
    
}





#bio {
    grid-area: bi;
}

#footer {
    grid-area: ft;
    justify-self: center
}