/* @media screen and (min-width : 600px) and (orientation : landscape) { */


#container {
    /* flex-grow: 0; */
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 600px ;
    background: rgb(216, 238, 216);
}

section {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#profile-avatar { 
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 10px
} 

#heading {
    display: flex;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: 0, auto;
    justify-content: space-evenly;
    background: rgb(103, 199, 199);
    color: white;
}

li {
    font-size: 0.5rem;
    justify-content: stretch;
    text-align: center;
    list-style: none;
}

header, footer {
    display:flex;
    justify-content: stretch;
    background: rgb(103, 199, 199);
}

#navbar {
    justify-content: space-evenly;
    padding: 10px;
}

#footer {
    /* display: flex; */
    justify-content: space-evenly;
    background:rgb(103, 199, 199);
    font-size: .5rem;
}

p {
    font-size: .7rem
}