/* mobile view */
#container {
    display: grid;
    border: 1px solid rgb(15, 4, 4);
    background: rgb(184, 192, 192);
    grid-template-columns: 1, auto;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
    "nb"
    "av"
    "ct"
    "ed"
    "ex"
    "cp"
    "bi"
    "ft";
    
}

#navbar {
    display:grid; 
    grid-template-columns: repeat(5, 100);
    grid-template-areas: "ni ni ni ni ni";
    justify-content: space-between; 
    border: 1px solid black;
    align-items: center;  
    grid-area: nb;
    background: rgb(77, 155, 155);
    padding: 10px;
}

#avatar {
    justify-self: center;
    padding: 10px;
    border: none;
    grid-area: av;
}
#contact {
    grid-area: ct;
}

#edu {
    grid-area: ed;
}

#exp {
    grid-area: ex;
}

#comp {
    grid-area: cp;
}

#bio {
    grid-area: bi;
}

#footer {
    grid-area: ft;
    justify-self: auto;
    justify-content: space-around;
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "by ftc";     
}

#ftc {
    display: grid;
    grid-template-columns: repeat(5, 20px);
    grid-area: ftc;
    justify-content: space-between;
    
}

.navicon { 
    grid-area: ni;
    align-items: center;
} 

.heading {
    color: white;
    background: rgb(77, 155, 155);
    margin: 0;
}
section {
    border: solid 1px black;
    text-align: center;
}
li {
    list-style: none;
}

header footer {
    background: grey;
    justify-self: center;
    justify-content: space-evenly;  
}

@media screen 
and (min-width: 600px) 
and (orientation: landscape) { 
    #container {
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 200px);
        grid-template-areas: 
        "nb nb nb nb"
        "av ct ex ed"
        "ep ep ep ep"
        "cp cp cp cp"
        "bi bi bi bi"
        "ft ft ft ft"
       }

}
/* tablet view */
@media screen 
and (min-width: 601px) 
and (max-width: 1024px)
and (orientation: portrait) { 
    #container {
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 200px);
        grid-template-areas: 
        "nb nb nb nb"
        "av av ct ct"
        "ex ex ed ed"
        "ep ep cp cp"
        "bi bi bi bi"
        "ft ft ft ft"
       }
    }